<div class="" id="featured-panel">
  <div class="col-md-4">
    <div class="panel">
      <h3>Total Profiles</h3>
      <br>
      <div>{{totalProfiles}}</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel">
      <h3>Available Profiles</h3>
      <br>
      <div>45</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel">
      <h3>Profiles Next week</h3>
      <br>
      <div>5</div>
    </div>
  </div>
</div>
<!--Recent Uploads -->
<div class="" id="recent-uploads">
  <div class="col-md-12">
    <h4 class="section-title">Recently uploaded profiles</h4></div>

<app-profile-tile *ngFor="let profile of profiles" [profile] = 'profile'></app-profile-tile>

 
</div>
